<div class="back-container">
    <a class="back-btn" routerLink="/dashboard">‹ Back to Dashboard</a>
</div>


<div class="calendar-layout">
	<div class="calendar">
		<header class="cal-header">
			<button class="nav" (click)="prevMonth()">‹</button>
			<div class="title">{{ monthNames[displayMonth] }} {{ displayYear }}</div>
			<button class="nav" (click)="nextMonth()">›</button>
		</header>

		<div class="cal-grid">
			<div class="weekday" *ngFor="let wd of weekDays">{{ wd }}</div>

			<ng-container *ngFor="let week of weeks">
				<div class="day" *ngFor="let day of week" [class.outside]="!day.inMonth" [class.today]="isToday(day)">
					<div class="day-num">{{ day.date.getDate() }}</div>
					<div class="dots">
						<span class="dot" *ngFor="let e of events[day.iso]"></span>
					</div>
					<div class="event-preview" *ngIf="events[day.iso] && events[day.iso].length > 0">
						{{ events[day.iso][0] }}
					</div>
				</div>
			</ng-container>
		</div>
	</div>

<!--Adding a form to the Calendar Page-->
<div class="appointment-form">
  <h2>Add New Appointment</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="addAppointment()">

    <label>
      Title
      <input type="text" formControlName="title" />
    </label>

    <label>
      Notes
      <textarea formControlName="notes" rows="4"></textarea>
    </label>

    <label>
      Location
      <input type="text" formControlName="location" />
    </label>

    <label>
      Start Date & Time
      <input type="datetime-local" formControlName="start" />
    </label>

    <label>
      End Date & Time
      <input type="datetime-local" formControlName="end" />
    </label>

    <div class="button-row">
      <button type="button" class="form-btn btn-cancel">
        Cancel
      </button>

      <button type="submit" class="form-btn btn-submit" [disabled]="appointmentForm.invalid">
        Submit
      </button>
    </div>

  </form>
</div>

