<div class="page">
  <div class="page-content">
    <!-- Back Navigation -->
    <button class="back-link" [routerLink]="['/home']">
      <span class="material-icons">arrow_back</span> Back to Home
    </button>

    <div class="edu-title-box">Learn to Stay Safe Online</div>

    <div class="modules-cards-container">
      @for (module of (modules$ | async); track module.id; let i = $index) {
        <div class="module-card">

          <span class="module-number">Module {{ i + 1 }}</span>

          <h2 class="module-title">{{ module.title }}</h2>

          <p class="module-description">{{ module.description }}</p>

          <button class="btn primary" 
          [routerLink]="['/education', module.id]">
          {{ getButtonProgress(module) }}
          </button>
        </div>
      }
    </div>
    
  </div>
</div>